.projects-cntr {
  position: relative;
  display: block;
  width: 45%;
  margin: auto;
  z-index: 25;
}

.projects-sub-cntr {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.project-tile {
  justify-self: center;
  align-self: center;
  width: 90%;
  margin: auto;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.project-tile:hover {
  transform: scale(1.04);
}

.lingua-franca {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 2rem;
}

.ad-size {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 2rem;
}

.park-list {
  grid-column: 1/2;
  grid-row: 2/3;
}

.wtp-wine {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media only screen and (max-width: 500px) {
  .projects-cntr {
    width: 100%;
    margin-top: 45%;
    overflow-y: scroll;
  }

  .projects-sub-cntr {
    display: block;
    width: 100%;
    margin: auto;
  }

  .project-tile {
    display: block;
    width: 90%;
    margin: 0 auto 1rem auto;
  }
}