@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'GraphikRegular';
  src: url(./fonts/GraphikRegular.otf);
  format: 'oft';
}

@font-face {
  font-family: 'GraphikMedium';
  src: url(./fonts/GraphikMedium.otf);
  format: 'oft';
}

@font-face {
  font-family: 'GraphikBold';
  src: url(./fonts/GraphikBold.otf);
  format: 'oft';
}

/* Utility classes */
.frosted {
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(10, 12, 43, 0.15);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.frosted-light {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(10, 12, 43, 0.15);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}


/* Class-based */
body {
  width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
}

.home-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-white {
  z-index: 0;
}

.bg-red {
  z-index: 1;
}

.bg-gray {
  z-index: 2;
}

.bg-black {
  z-index: 3;
}

.navbar {
  position: fixed;
  inset: 0;
  width: auto;
  height: 5%;
  margin-top: 2rem;
  z-index: 15;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
}

.navbar-left > span {
  font-weight: 200;
}

.navbar-left {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-left: 2rem;
  text-align: left;
}

.hamburger {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  z-index: 20;
}

.circle {
  position: absolute;
  z-index: 10;
}

.menu-options {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5% 5% 0 0;
  z-index: 10;
  font-family: 'GraphikBold';
  font-size: 4rem;
  line-height: .5rem;
  color: #fff;
  overflow: hidden;
}

.menu-options > p {
  cursor: pointer;
}

.tagline-cntr {
  position: relative;
  display: grid;
  grid-template-columns: 22% 78%;
  width: 55%;
  height: auto;
  margin: 46vh 0 0 4rem;
  font-family: 'GraphikBold';
  font-size: 4rem;
  color: #000;
  z-index: 20;
}

.tagline-hello {
  grid-column: 1/2;
  grid-row: 1/2;
}

.tagline-desc {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: 'GraphikRegular';
}

.tagline-desc > span {
  font-family: 'GraphikMedium';
}

.tagline-subdesc {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 1rem;
  padding: 1.4rem 1rem 0 1rem;
  border-top: solid 1px #5F5F5F;
  justify-self: center;
  font-family: 'GraphikRegular';
  font-size: 1.5rem;
  letter-spacing: 15px;
}

@media only screen and (max-width: 1600px) {
  .menu-options {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1450px) {
  .menu-options {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 1300px) {
  .home-bg {
    width: auto;
    height: 100%;
  }

  .navbar {
    margin-top: 1rem;
  }

  .menu-options {
    font-size: 2.7rem;
    margin: 5% 5% 0 0;
  }
}

@media only screen and (max-width: 1100px) {
  .menu-options {
    font-size: 2.2rem;
  }
}