@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Azonix';
  src: url(./fonts/Azonix.otf);
  format: 'oft';
}

/* Utility classes */
.frosted {
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(10, 12, 43, 0.15);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.frosted-light {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(10, 12, 43, 0.15);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}


/* Class-based */
body {
  width: 100%;
  overflow-x: hidden;
}

.App {
  width: 100%;
  font-family: 'Poppins';
}

.home-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.bg-white {
  z-index: 0;
}

.bg-red {
  z-index: 1;
}

.bg-gray {
  z-index: 2;
}

.bg-black {
  z-index: 3;
}

.home-block {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80%;
  height: 70%;
  z-index: 1;
  font-size: 10rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.navbar {
  position: fixed;
  inset: 0;
  width: auto;
  height: 5%;
  margin-top: 2rem;
  z-index: 15;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
}

.navbar-left > span {
  font-weight: 200;
}

.navbar-left {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-left: 2rem;
  text-align: left;
  color: #000;
}

.hamburger {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  z-index: 20;
}

.circle {
  position: absolute;
  z-index: 10;
}

@media only screen and (max-width: 1550px) {
  .home-bg {
    width: auto;
    height: 100%;
  }
}